.hidden {
    visibility:visible;
}

.friends {
    margin: 20px 10%;
    background-color: rgba(119, 119, 119, 0.450);
    
    position: relative;
    border-radius: 20px;
    padding: 20px 0;
}

.friends .friend {
    margin: 20px 20%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 60%;
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
}

.friends .friend .info {
    height: 150px;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.friends .friend .info .img img {
    width: 144px;
    height: 144px;
    border-radius: 45%;
}

.friends .friend .info .name {
    font-size: 20px;
    font-weight: 700;
    margin: auto 20px;
}

.friends .friend .info .name span {
    font-weight: 100;
    font-size: 15px;
}

.friends .friend .menu {
    width: 30%;
    height: 100%;
    height: 150px;
}

.friends .friend .com div {
    margin: 33% 0 0 0;
}

.friends .friend .menu form {
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 4%;
}

.friends .friend .menu .online {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30%;
}

.friends .friend .menu form input {
    margin: auto 0;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(60, 161, 255);
    transition: all .5s linear;
}

.friends .friend .menu form input:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.459);
}

.friends .friend .menu form input:active {
    color: rgba(60, 161, 255, 0.550);
    opacity: .7;
}

#communities {
    color: red;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

#communities:hover {
    background-color: rgba(255, 0, 0, 0.250);
    cursor: pointer;
}

.subtitle {
    width: 100%;
    color: rgba(60, 161, 255, 0.550);
    text-align: center;
}

.communitiesSub {
    color: rgb(119, 151, 255);
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

.communitiesSub:hover {
    background-color: rgba(0, 255, 64, 0.25);
    cursor: pointer;
}

.friends .tabs {
  font-size: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.friends .tabs>input[type="radio"] {
  display: none;
}

.friends .tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  /* border: 1px solid #e0e0e0; */
  padding: 10px 15px;
  font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4 {
  display: block;
}

.friends .tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.55);
  /* border: 1px solid #e0e0e0; */
  padding: 2px 8px;
  font-size: 22px;
  color: rgba(60, 161, 255);;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.friends .tabs>label:not(:first-of-type) {
  border-left: none;
}

.friends .tabs>input[type="radio"]:checked+label {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.add-com {
    width: 10%;
    position: absolute;
    right: 10px;
    top: 100px;
    color: rgba(60, 161, 255);;
    padding: 10px;
    background-color: aliceblue;
    text-align: center;
}

.add-com:hover {
    cursor: pointer;
}

.sale {
    width: 40%;
    height: 100%;
    /* height: 150px; */
    margin: auto;
}
