.table {
	width: 100%;
	border: none;
	margin-bottom: 50px;
    border: 1px solid #d8d8d8;
}

.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    
}

h3 {
    text-align: center;
    padding-bottom: 30px;
}

.status {
	font-weight: 700; 
	color: white; 
	text-align: center;
}

.com_sub {
	width: 100%;
}

.com_sub:hover {
	cursor: pointer;
}

.list-menu {
	display: flex;
	flex-direction: column;
}
