main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    margin: 20px 0 20px 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid #777;
}

section img {
    width: 150px;
    height: 150px;
    border-radius: 45%;
}

section div {
    margin: auto 20px;
    font-size: 28px;
    font-weight: 700;
}

.hidden {
    visibility:visible;
}

.add-rev {
    top: 280px;
}


.gopher {
    border: 1px solid #777;
    background-color: rgb(241, 241, 241);
    margin: 0 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: min-content;
    /* min-height: 150px; */
    width: 700px;
    border-radius: 15px;
}

.gopher:last-child {
    margin-bottom: 20px;
}

.gopher-content {
    text-align: justify;
    height: min-content;
    padding: 3px 0;
    position: relative;
    bottom: 0;
}

.statistics {
    height: 20%;
    padding: 3px 0;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.statistics div {
    width: 60%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.statistics .fa-solid {
    width: 40%;
    margin-top: 25px;
    position: relative;
    text-align: end;
    font-size: 15px;
}

.statistics div span {
    border-radius: 10px;
    padding: 5px 14px 5px 10px;
    background-color: rgba(128, 128, 128, 0.5);
    opacity: .8;
    margin-right: 15px;
}

.statistics div span:hover {
    background-color: gray;
}

.statistics div span:active {
    opacity: .7;
}

.communities-gopher {
    margin-bottom: 20px;
}

.statistics div span i {
    color: #fff;
    font-size: 18px;
    margin: 6px 0px 1px 5px;

}

.statistics div span:hover {
    cursor: pointer;
}
