body {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.hidden {
    visibility:visible;
}

.error {
    border: 2px solid red;
    background-color: rgba(253, 1, 1, 0.39);
}

header {
    padding: 0 15%;
    width: 70%;
    height: 60px;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    z-index: 1000;
}

header .brand {
    display: flex;
    flex-direction: row;
}

header .brand .logos img {
    width: 25%;
    height: 100%;
}

header .brand .logos {
    height: 50px;
    width: 200px;
    margin: auto 0;
    margin-top: 5px;
    margin-right: 100px;
}


header .brand .find {
    width: 235px;
    margin-top: 16px;
    position: relative;
}

header .brand .find input {
    font-size: 16px;
    padding: 5px 6px;
    border-radius: 10px;
    width: 220px;
}


header .brand .logos span {
    position: absolute;
    top: 15px;
    left: 360px;
    font-size: 26px;
    font-weight: 700;
}

header .account {
    width: 65%;
    margin-top: 6px;
    text-align: right;
}

header .account img{
    width: 42px;
    height: 42px;
    margin: auto 0;
    border-radius: 45%;
}

header .account i {
    position: absolute;
    right: 265px;
    top: 20px;
}

header .account i:hover {
    cursor: pointer;
    opacity: .8;
}

.subtitles {
    width: 65%;
    color: rgba(60, 161, 255, 0.550);
    text-align: center;
    margin: auto;
}

.center {
    text-align: center;
    color: rgba(60, 161, 255);
}

.log_name {
    color: rgb(21, 141, 253);
    font-weight:900;
}

.link-top {
    padding: 20px 40px 90vh 40px;
    top: 80px;
    left: 50px;
    position: fixed;
    font-size: 40px;
    color: rgb(21, 141, 253);
    display: inline-block;
}

.link-top:hover {
    background: #00000010;
}

.mus-form {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 40%;
    height: 40px;
    width: 40px;
}

.mus-form button {
    height: 40px;
    width: 40px;
    border: none;
    color: rgb(21, 141, 253);
    background-color: inherit;
}

.mus-form button:hover {
    cursor: pointer;
    opacity: .8;
}

.mus-form button:active {
    opacity: .6;
}

.mus-form button i {
    font-size: 22px;
}
