{{ define "blog" }}


<link rel="stylesheet" href="/assets/css/blog.css">
<link rel="stylesheet" href="/assets/css/style.css">

    <main>
        <div class="news">
            {{ range $_, $p := .Post }}
            <div class="post" id="{{ $p.Id }}">
                <div class="communities">
                    <div class="avatar"><img src="{{$p.CommunitiesPhot}}" alt=""></div>
                    <div class="name">
                        <div><a id="{{$p.Id}}" class="communa" href="/community">{{ $p.Communities }}</a> <span><a style="text-decoration: none; color: black;" href="/blog#{{$p.Id}}">{{ $p.Title }}</a></span></div>
                        <label>{{ $p.Date }}</label>
                    </div>
                </div>
                <div class="title"> {{ $p.Content }}</div>
                <div class="image"><img src="{{ $p.Photo }}" alt=""></div>
                <div class="statistics">
                    <div>
                        <a href="blog" id="{{ $p.Id }}"  class="spans span spany" style="color: #fff; text-decoration: none;"><i style="margin-right: 5px;" class="fa-regular fa-heart"></i>{{ $p.Like }}</a>
                        <a href="comments"  id="{{ $p.Id }}" class="spans span spany" type="submit"><i class="fa-regular fa-message"></i></a>     
                        <a href="page" id="{{ $p.Id }}" class="spans span spany" type="submit"><i class="fa-regular fa-paper-plane"></i></a> 
                    </div>
                    
                    <i class="fa-solid fa-eye">{{ $p.View }}</i>
                </div>
                
            </div>
            {{ end }}
        </div>
    </main>

{{ template "footer" }}

<script>
         $(document).ready(function(){
            $('.span').click(function(e) {
                clickId = $(this).attr('id');
                // alert('fa'+clickId);
                    $.ajax({
                        url: '/blog',
                        type: 'POST',
                        dataType: 'html',
                        data : { post_id: clickId},
                        success : function(data) {
                        $('#result').html(data);
                        },
                    });
                alert(post_id);
            });
        });

        $(document).ready(function(){
            $('.btns').click(function(e) {
                clickId = $(this).attr('name');
                // alert('fa'+clickId);
                    $.ajax({
                        url: '/blog',
                        type: 'GET',
                        dataType: 'html',
                        data : { btns: clickId},
                        success : function(data) {
                        $('#result').html(data);
                        },
                    });
                alert(btns);
            });
        });

        $(document).ready(function(){
            $('.communa').click(function(e) {
                clickId = $(this).attr('id');
                // alert('fa'+clickId);
                    $.ajax({
                        url: '/blog',
                        type: 'GET',
                        dataType: 'html',
                        data : { community_id: clickId},
                        success : function(data) {
                        $('#result').html(data);
                        },
                    });
                alert(community_id);
            });
        });

        $(document).ready(function(){
        $('.communa').click(function(e) {
            clickId = $(this).attr('id');
            // alert('fa'+clickId);
                $.ajax({
                    url: '/community',
                    type: 'POST',
                    dataType: 'html',
                    data : { community_id: clickId},
                    success : function(data) {
                    $('#result').html(data);
                    },
                });
        });
    });

        $(document).ready(function(){
            $('.spany').click(function(e) {
                clickId = $(this).attr('id');
                // alert('fa'+clickId);
                    $.ajax({
                        url: '/blog',
                        type: 'GET',
                        dataType: 'html',
                        data : { post_idGet: clickId},
                        success : function(data) {
                        $('#result').html(data);
                        },
                    });
                    
                alert(post_idGet);
            });
        });

</script>




{{ end }}
