{{ define "community" }}

{{ template "header" }}
<meta http-equiv="refresh" content="2" />
<link rel="stylesheet" href="/assets/css/page.css">
<link rel="stylesheet" href="/assets/css/blog.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/community.css">
<header>
    <div class="brand">
        <div class="logos">
            <img src="/data/image/brand.png" alt="">
            <span>GOLANG</span>
        </div>
        <div class="find"><input type="text" placeholder="Найти"></div>
    </div>
    <div class="account">
        <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
        <i class="fa-solid fa-chevron-down" onclick="Check()"></i>
    </div>
</header>

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>

<body>
    <aside class="right">
        <a href="/page#"><i class="fa-regular fa-circle-user"></i><span> Моя страница</span></a>
        <a href="/blog"><i class="fa-regular fa-newspaper"></i><span> Новости</span></a>
        <a href="#"><i class="fa-regular fa-comment"></i><span> Сообщения</span></a>
        <a href="/friends"><i class="fa-solid fa-user-group"></i><span> Друзья</span></a>
        <a href="/communities"><i class="fa-solid fa-users"></i><span> Сообщества</span></a>
        <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
        <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span</a>
        <a href="#"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span</a>
        <a href="#">Далее</a>
    </aside>
    <main>

        <section>
            <div class="photo">
                <img src="{{.Communities.Photo}}" alt="">
                <div class="name">{{.Communities.Name}}</div>
            </div>
            <div class="com_stat">
                {{ $lengthPost := len .Post }}
                {{ $lengthSubs := len .Subs }}
                <div class="txt">Подписчиков: <span>{{$lengthSubs}}</span></div>
                <div class="txt">Записей: <span>{{$lengthPost}}</span></div>
                <div class="txt">Создатель: <a id="{{.Author}}" class="guestId" href="/guest">{{.Author}}</a></div>
            </div>
        </section>

        <div class="news">
            {{ range $_, $y := .Post }}
            <div class="post" id="{{ $y.Id }}">
                <div class="communities">
                    <div class="avatar"><img src="{{$y.CommunitiesPhot}}" alt=""></div>
                    <div class="name">
                        <div>{{ $y.Communities }} <span><a style="text-decoration: none; color: black;" href="/blog#{{$y.Id}}">{{ $y.Title }}</a></span></div>
                        <label>{{ $y.Date }}</label>
                    </div>
                </div>
                <div class="title"> {{ $y.Content }}</div>
                <div class="image"><img src="{{ $y.Photo }}" alt=""></div>
                <div class="statistics">
                    <div>
                        <a href="blog" id="{{ $y.Id }}"  class="spans span spany" style="color: #fff; text-decoration: none;"><i style="margin-right: 5px;" class="fa-regular fa-heart"></i>{{ $y.Like }}</a>
                        <a href="comments"  id="{{ $y.Id }}" class="spans span spany" type="submit"><i class="fa-regular fa-message"></i></a>     
                        <a href="page" id="{{ $y.Id }}" class="spans span" type="submit"><i class="fa-regular fa-paper-plane"></i></a> 
                    </div>
                    
                    <i class="fa-solid fa-eye">{{ $y.View }}</i>
                </div>
                <div class="comments">
                    <form action="/" method="post">
                        <input type="text" placeholder="Оставить комментарий">
                        <button type="submit"><i class="fa-solid fa-reply"></i></button>
                    </form>
                </div>
            </div>
            {{ end }}
        </div>
    </main>
<aside id="left" class="left">
    <div class="setacc">
        <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
        <div class="info">
            <div class="name">{{ .User.Name }}</div>
            <div class="login">{{ .User.Login }}</div>
        </div>
    </div>
    <div class="settings">
        <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
        <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span</a>
        <a href="#"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span</a>
        <a id="exit" href="/"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span> Выйти</span</a>
    </div>
</aside>
</body>

<script>

   $(document).ready(function(){
       $('.guestId').click(function(e) {
           clickId = $(this).attr('id');
               $.ajax({
                   url: '/community',
                   type: 'GET',
                   dataType: 'html',
                   data : { guestId: clickId},
                   success : function(data) {
                   $('#result').html(data);
                   },
               });
       });
   });

</script>

{{ template "footer" }}

{{ end }}
