{{ define "friends" }}

<!-- {{ template "header" }} -->

<link rel="stylesheet" href="/assets/css/friends.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/blog.css">
<link rel="stylesheet" href="/assets/css/friends.css">

<!-- <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>

<header>
    <div class="brand">
        <div class="logos">
            <img src="/data/image/brand.png" alt="">
            <span>GOLANG</span>
        </div>
        <div class="find"><form action="find" method="post" autocomplete="off" >
            <input type="text" name="find" placeholder="Найти пользователя">
        </form></div>
    </div>
    <div class="account">
        <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
        <i class="fa-solid fa-chevron-down" onclick="Check()"></i>
    </div>
</header>

<body>
    <aside class="right">
        <a href="/page#"><i class="fa-regular fa-circle-user"></i><span> Моя страница</span></a>
        <a href="/blog"><i class="fa-regular fa-newspaper"></i><span> Новости</span></a>
        <a href="/message"><i class="fa-regular fa-comment"></i><span> Сообщения</span></a>
        <a href="/friends"><i class="fa-solid fa-user-group"></i><span> Друзья</span></a>
        <a href="/communities"><i class="fa-solid fa-users"></i><span> Сообщества</span></a>
        <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
        <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span</a>
        <a href="/help"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span</a>
        <a href="/store"><i class="fa-brands fa-golang"></i><span> Go-Store</span></a>
    </aside> -->
      
    <main> 
        {{ $lengthF := len .Friends }} 
        {{ $lenghtS := len .Subs }}
        {{ $lenghtO := len .Online }}
        <div class="friends">
            {{ if eq .Done "Friends" }}
            <div class="tabs">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label for="tab-btn-1">Друзья ({{$lengthF}})</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                <label for="tab-btn-2">Друзья онлайн ({{$lenghtO}})</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="">
                <label for="tab-btn-3">Подписчики ({{$lenghtS}})</label>
                <input type="radio" name="tab-btn" id="tab-btn-4" value="">
                <label for="tab-btn-4">Рекомендации</label>
            
                <div id="content-1">
                    {{ range $_, $f := .Friends }}
                        <div class="friend">
                            <div class="info">
                                <div class="img"><img src="{{ $f.Photo }}" alt=""></div>
                                <div class="name"><a style="color: black; text-decoration: none;" class="guestId inputFriends" id="{{$f.Friend}}" href="/guest">{{ $f.Name }}</a> <br><span>{{ $f.Status }}</span></div>
                            </div>
                            <div class="menu">
                                <form action="message#last_mes" method="get">
                                    <input type="text" name="user_id" value="{{$f.Friend}}" style="display: none;">
                                    <input type="submit"  id="{{$f.Friend}}" class="inputFriends" value="Написать">
                                </form>
                                <form action="friends" method="post">
                                    <input class="input" id="{{$f.Friend}}" type="submit" value="Удалить" onclick="ReadId(this)">
                                </form>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <div id="content-2">
                    {{ range $_, $f := .Online }}
                    <div class="friend">
                        <div class="info">
                            <div class="img"><img src="{{ $f.Photo }}" alt=""></div>
                            <div class="name"><a style="color: black; text-decoration: none;" class="guestId inputFriends" id="{{$f.Friend}}" href="/guest">{{ $f.Name }}</a> <br><span>{{ $f.Status }}</span></div>
                        </div>
                        <div class="menu">
                            <form class="online" action="message#last_mes" method="get">
                                <input type="text" name="user_id" value="{{$f.Friend}}" style="display: none;">
                                <input type="submit" id="{{$f.Friend}}" class="inputFriends" value="Написать">
                            </form>

                        </div>
                    </div>
                {{ end }}
                </div>
                <div id="content-3">
                    {{ range $_, $s := .Subs }}         
                    <div class="friend">
                        <div class="info">
                            <div class="img"><img src="{{ $s.Photo }}" alt=""></div>
                            <div class="name"><a style="color: black; text-decoration: none;" class="guestId inputFriends" id="{{$s.Login}}" href="/guest">{{ $s.Name }}</a> <br><span></span></div>
                        </div>
                        <div class="menu">
                           
                            <!-- <form action="message" method="get">
                                <input type="text" name="user_id" value="{{$s.Login}}" style="display: none;">
                                <input type="submit" id="{{$s.Login}}" class="inputFriends" value="Написть">
                            </form> -->
                            <form class="online" action="friends/add" method="post">
                                <input class="inputAdd" id="{{$s.Login}}" type="submit" value="Добавить" onclick="ReadId(this)">
                            </form>
                        </div>
                    </div>
                    {{ end }} 
                </div>
                <div id="content-4">
                    {{ range $_, $rf := .Rec }}         
                        <div class="friend">
                            <div class="info">
                                <div class="img"><img src="{{ $rf.Photo }}" alt=""></div>
                                <div class="name"><a style="color: black; text-decoration: none;" class="guestId inputFriends" id="{{$rf.Login}}" href="/guest">{{ $rf.Name }}</a> <br><span></span></div>
                            </div>
                            <div class="menu">
                                <!-- <form action="message#{{ $rf.Name }}" method="get">
                                    <input type="text" name="user_id" value="{{$rf.Login}}" style="display: none;">
                                    <input type="submit" id="{{$rf.Login}}" class="inputFriends" value="Написть">
                                </form> -->
                               
                                <form class="online" action="friends/rec" method="post">
                                    <input type="text" name="friend_id" value="{{$rf.Login}}" style="display: none;">
                                    <input class="inputRec" id="{{$rf.Login}}" type="submit" value="Добавить" onclick="ReadId(this)">
                                </form>
                            </div>
                        </div>
                    {{ end }}
                   
                </div>
            </div>
            {{ else if eq .Done "GuestFR" }}
            <div class="tabs">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label for="tab-btn-1">Друзья ({{$lengthF}})</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                <label for="tab-btn-2">Друзья онлайн ({{$lenghtO}})</label>
                <input type="radio" name="tab-btn" id="tab-btn-3" value="">
                <label for="tab-btn-3">Подписчики ({{$lenghtS}})</label>
            
                <div id="content-1">
                    {{ range $_, $f := .Friends }}
                        <div class="friend">
                            <div class="info">
                                <div class="img"><img src="{{ $f.Photo }}" alt=""></div>
                                <div class="name"><a style="color: black; text-decoration: none;" class="guestId inputFriends" id="{{$f.Friend}}" href="/guest">{{ $f.Name }}</a> <br><span>{{ $f.Status }}</span></div>
                            </div>
                            <!-- <div class="menu">
                                <form action="message#{{ $f.Name }}" method="get">
                                    <input type="submit" id="{{$f.Friend}}" class="inputFriends" value="Написть">
                                </form>
                                <form action="friends" method="post">
                                    <input class="input" id="{{$f.Friend}}" type="submit" value="Удалить" onclick="ReadId(this)">
                                </form>
                            </div> -->
                        </div>
                    {{ end }}
                </div>
                <div id="content-2">
                    {{ range $_, $of := .Online }}
                    <div class="friend">
                        <div class="info">
                            <div class="img"><img src="{{ $of.Photo }}" alt=""></div>
                            <div class="name"><a style="color: black; text-decoration: none;" class="guestId inputFriends" id="{{$of.Friend}}" href="/guest">{{ $of.Name }}</a> <br><span>{{ $of.Status }}</span></div>
                        </div>
                        <div class="menu">
                            <!-- <form class="online" action="message#{{ $of.Name }}" method="get">
                                <input type="submit" id="{{$of.Friend}}" class="inputFriends" value="Написть">
                            </form> -->
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div id="content-3">
                    {{ range $_, $s := .Subs }}         
                    <div class="friend">
                        <div class="info">
                            <div class="img"><img src="{{ $s.Photo }}" alt=""></div>
                            <div class="name"><a style="color: black; text-decoration: none;" class="guestId inputFriends" id="{{$s.Login}}" href="/guest">{{ $s.Name }}</a> <br><span></span></div>
                        </div>
                        <!-- <div class="menu">
                            <form action="message#{{ $s.Name }}" method="get">
                                <input type="submit" id="{{$s.Login}}" class="inputFriends" value="Написть">
                            </form>
                            <form action="friends/add" method="post">
                                <input class="inputAdd" id="{{$s.Login}}" type="submit" value="Добавить" onclick="ReadId(this)">
                            </form>
                        </div> -->
                    </div>
                    {{ end }} 
                </div>
            </div>
            {{ else if eq .Done "FindFR" }}
            <div class="tabs">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label for="tab-btn-1">Поиск людей</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="" checked>
                <label for="tab-btn-2">Поиск сообществ</label>
            
                <div id="content-1">
                    {{ range $_, $ff := .Find }}         
                        <div class="friend">
                            <div class="info">
                                <div class="img"><img src="{{ $ff.Photo }}" alt=""></div>
                                <div class="name"><a style="color: black; text-decoration: none;" class="guestId inputFriends" id="{{$ff.Login}}" href="/guest">{{ $ff.Name }}</a> <br><span></span></div>
                            </div>
                            <div class="menu">
                               
                                <form class="online" action="friends/rec" method="post">
                                    <input type="text" name="friend_id" value="{{$ff.Login}}" style="display: none;">
                                    <input class="inputRec" id="{{$ff.Login}}" type="submit" value="Добавить" onclick="ReadId(this)">
                                </form>
                            </div>
                        </div>
                    {{ end }}      
                    {{ if .OKU }}
                    <h1 class="center">К сожалению по данному запросу никого не найденно</h1>
                     {{ end }}              
                </div>
                <div id="content-2">
                    {{ range $_, $rc := .Communities }}         
                        <div class="friend">
                            <div class="info">
                                <div class="img"><img src="{{ $rc.Photo }}" alt=""></div>
                                <div class="name"><a style="color: black; text-decoration: none;" class="communa" id="{{$rc.Name}}" href="/community">{{ $rc.Name }}</a> <br><span>{{ $rc.Category }}</span></div>
                            </div>
                            <div class="menu com">
                               
                                <form class="online" action="/communities" method="post">
                                    <input type="text" name="communityRec" value="{{ $rc.Name }}" style="display: none;">
                                    <input name="{{ $rc.Name }}" class="communaRec communitiesSub" id="{{$rc.Name}}" class="coms" type="submit" value="Подписаться">
                                </form>        
                            </div>
                        </div>
                    {{ end }}    
                    {{ if .OKC }}
                    <h1 class="center">К сожалению по данному запросу ничего не найденно</h1>
                     {{ end }}                
                </div>
            </div>
            {{ else }}
            <h1>Error 404</h1>
            {{ end }}
    </main>
    {{ template "footer" }}
<!-- 
            <aside id="left" class="left">
                <div class="setacc">
                    <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
                    <div class="info">
                        <div class="name">{{ .User.Name }}</div>
                        <div class="login">{{ .User.Login }}</div>
                    </div>
                </div>
                <div class="settings">
                    <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
                    <a href="/favourites"><i class="fa-solid fa-bookmark"></i> <span> Избранное</span></a>
                    <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span></a>
                    <a href="/help"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span></a>
                    <a id="exit" href="/exit"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span> Выйти</span></a>
                </div>
            </aside>                         
</body>

<script src="/assets/js/style.js"></script> -->

<script>

$(document).ready(function(){
        $('.coms').click(function(e) {
            clickId = $(this).attr('name');
                $.ajax({
                    url: '/communities',
                    type: 'GET',
                    dataType: 'html',
                    data : { name_com: clickId},
                    success : function(data) {
                    $('#result').html(data);
                    },
                });
                
            alert(name_com);
        });
    });

    $(document).ready(function(){
        $('.communa').click(function(e) {
            clickId = $(this).attr('id');
            // alert('fa'+clickId);
                $.ajax({
                    url: '/communities',
                    type: 'POST',
                    dataType: 'html',
                    data : { community_id: clickId},
                    success : function(data) {
                    $('#result').html(data);
                    },
                });
        });
    });

    $(document).ready(function(){
       $('.inputFriends').click(function(e) {
           clickId = $(this).attr('id');
               $.ajax({
                   url: '/friends',
                   type: 'GET',
                   dataType: 'html',
                   data : { Id: clickId},
                   success : function(data) {
                   $('#result').html(data);
                   },
               });
       });
    });

    $(document).ready(function(){
       $('.inputFriends').click(function(e) {
           clickId = $(this).attr('id');
               $.ajax({
                   url: '/guest/friends',
                   type: 'GET',
                   dataType: 'html',
                   data : { Id2: clickId},
                   success : function(data) {
                   $('#result').html(data);
                   },
               });
       });
    });

    $(document).ready(function(){
       $('.input').click(function(e) {
           clickId = $(this).attr('id');
               $.ajax({
                   url: '/friends',
                   type: 'POST',
                   dataType: 'html',
                   data : { friend_id: clickId},
                   success : function(data) {
                   $('#result').html(data);
                   },
               });
       });
   });

   $(document).ready(function(){
       $('.inputAdd').click(function(e) {
           clickId = $(this).attr('id');
               $.ajax({
                   url: '/friends/add',
                   type: 'POST',
                   dataType: 'html',
                   data : { friend_id: clickId},
                   success : function(data) {
                   $('#result').html(data);
                   },
               });
       });
   });

//    $(document).ready(function(){
//        $('.inputRec').click(function(e) {
//            clickId = $(this).attr('id');
//                $.ajax({
//                    url: '/friends/rec',
//                    type: 'POST',
//                    dataType: 'html',
//                    data : { friend_id: clickId},
//                    success : function(data) {
//                    $('#result').html(data);
//                    },
//                });
//        });
//    });

   $(document).ready(function(){
       $('.guestId').click(function(e) {
           clickId = $(this).attr('id');
               $.ajax({
                   url: '/community',
                   type: 'GET',
                   dataType: 'html',
                   data : { guestId: clickId},
                   success : function(data) {
                   $('#result').html(data);
                   },
               });
       });
   });

   $(document).ready(function(){
            $('.guestId').click(function(e) {
                clickId = $(this).attr('id');
                    $.ajax({
                        url: '/guest',
                        type: 'GET',
                        dataType: 'html',
                        data : { guestLogin: clickId},
                        success : function(data) {
                        $('#result').html(data);
                        },
                    });
                alert(guestLogin);
            });
        });


</script>




{{ end }}
