{{ define "help" }}

{{ template "header" }}

<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/blog.css">
<link rel="stylesheet" href="/assets/css/page.css">
<link rel="stylesheet" href="/assets/css/help.css">
<link rel="stylesheet" href="/assets/css/setting.css">

<header>
    <div class="brand">
        <div class="logos">
            <img src="/data/image/brand.png" alt="">
            <span>GOLANG</span>
        </div>
        <div class="find"><input type="text" placeholder="Найти"></div>
    </div>
    <div class="account">
        <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
        <i class="fa-solid fa-chevron-down" onclick="Check()"></i>
    </div>
</header>

<!-- <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script> -->

<body>
    <aside class="right">
        <a href="/page#"><i class="fa-regular fa-circle-user"></i><span> Моя страница</span></a>
        <a href="/blog"><i class="fa-regular fa-newspaper"></i><span> Новости</span></a>
        <a href="/message"><i class="fa-regular fa-comment"></i><span> Сообщения</span></a>
        <a href="/friends"><i class="fa-solid fa-user-group"></i><span> Друзья</span></a>
        <a href="/communities"><i class="fa-solid fa-users"></i><span> Сообщества</span></a>
        <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
        <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span</a>
        <a href="/help"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span</a>
        <a href="/store"><i class="fa-brands fa-golang"></i><span> Go-Store</span></a>
    </aside>

    <main>
        <a class="back" style="top:72px; right: 100px;" href="/page"><i class="fa-solid fa-delete-left"></i></a>
        <div class="season_tabs" style="min-height: 90vh; z-index: 0;">
             
             <div class="season_tab">
                <input type="radio" id="tab-3" name="tab-group-1">
                <label id="tab3" for="tab-3">Знакомство с Gopher</label>
              
                <div class="season_content">
                    <h1>Инструкция</h1>
                    <div class="author">Автор: Alex Pavlikov</div>
                    <div class="line"></div>
                    <h2>Основы интерфейса</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus incidunt voluptatum nam reiciendis in unde, quia ratione obcaecati pariatur harum rem accusantium veritatis corrupti odit, saepe facilis ad veniam dolorem?</p>

                    <span class="read-more">Далее</span>
                </div> 
            </div>
            <div class="season_tab">
                <input type="radio" id="tab-4" name="tab-group-1">
                <label id="tab4" for="tab-4">Жалобы и предложения</label>
              
                <div class="season_content">
                    <h2>Жалобы и предложения</h2>
                    <p style="text-align: center;">Заполните форму  и мы обязательно попытаемся Вам помочь!</p>
                    <form action="help/complaint" method="post" style="display: flex; flex-direction: column; width: 50%; margin: 50px 25%;">
                        <select class="input" name="selectCat" id="selectCat">
                            <option style="display:none;" selected>Выберите тип жалобы</option>
                            {{ range $_, $c := .Category }}
                            <option>{{ $c }}</option>
                            {{ end }}
                        </select>
                        <input class="input" type="text" name="title" id="title" placeholder="Кратко опишите проблему">
                        <textarea class="input" name="description" id="description" cols="30" rows="10" placeholder="Развернуто опишите вашу причину"></textarea>
                        <input class="input" type="submit" value="Отправить">
                    </form>
                </div> 
            </div>

            <div class="season_tab">
                <input type="radio" id="tab-5" name="tab-group-1">
                <label id="tab5" for="tab-5">Авторские права и правила</label>
              
                <div class="season_content">
                    <span>В разработке...</span>
                </div> 
            </div>
             
        </div>
    </main>
    
    <aside id="left" class="left">
        <div class="setacc">
            <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
            <div class="info">
                <div class="name">{{ .User.Name }}</div>
                <div class="login">{{ .User.Login }}</div>
            </div>
        </div>
        <div class="settings">
            <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
            <a href="/favourites"><i class="fa-solid fa-bookmark"></i> <span> Избранное</span></a>
            <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span></a>
            <a href="/help"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span></a>
            <a id="exit" href="/exit"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span> Выйти</span></a>
        </div>
    </aside>
</body>

{{ template "footer" }}

{{ end }}
