{{ define "page" }}

{{ template "header" }}
<link rel="stylesheet" href="/assets/css/page.css">
<link rel="stylesheet" href="/assets/css/blog.css">
<link rel="stylesheet" href="/assets/css/style.css">
<header>
    <div class="brand">
        <div class="logos">
            <img src="/data/image/brand.png" alt="">
            <span>GOLANG</span>
        </div>
        <div class="find"><input type="text" placeholder="Найти"></div>
    </div>
    <div class="account">
        <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
        <i class="fa-solid fa-chevron-down" onclick="Check()"></i>
    </div>
</header>

<body>
    <aside class="right">
        <a href="/page#"><i class="fa-regular fa-circle-user"></i><span> Моя страница</span></a>
        <a href="/blog"><i class="fa-regular fa-newspaper"></i><span> Новости</span></a>
        <a href="#"><i class="fa-regular fa-comment"></i><span> Сообщения</span></a>
        <a href="/friends"><i class="fa-solid fa-user-group"></i><span> Друзья</span></a>
        <a href="/communities"><i class="fa-solid fa-users"></i><span> Сообщества</span></a>
        <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
        <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span</a>
        <a href="#"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span</a>
        <a href="#">Далее</a>
    </aside>
    <main>
        <section>
            <img src="{{ .User.Photo }}" alt="">
            <div class="name">{{ .User.Name }}</div>
        </section>
        <div class="news">
            <div class="post" id="123">
                <div class="communities">
                    <div class="avatar"><img src="/data/image/blog/ava.jpg" alt=""></div>
                    <div class="name">
                        <div>Название группы <span><a style="text-decoration: none; color: black;" href="/blog#123">Заголовок поста</a></span></div>
                        <label>19:30</label>
                    </div>
                </div>
                <div class="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum possimus, eos iure autem voluptates fuga doloremque nobis deleniti dignissimos quo maxime iusto ullam deserunt aspernatur ab. Tenetur molestias eaque repellendus.</div>
                <div class="image"><img src="/data/image/blog/test.jpeg" alt=""></div>
                <div class="statistics">
                    <div>
                        <a href="blog" id="123"  class="spans span spany" style="color: #fff; text-decoration: none;"><i style="margin-right: 5px;" class="fa-regular fa-heart"></i>10</a>
                        <a href="blog/comments"  id="123" class="spans span spany" type="submit"><i class="fa-regular fa-message"></i></a>     
                        <a href="page" id="123" class="spans span" type="submit"><i class="fa-regular fa-paper-plane"></i></a> 
                    </div>
                    
                    <i class="fa-solid fa-eye">3123</i>
                </div>
                <div class="comments">
                    <form action="" method="post">
                        <input type="text" placeholder="Оставить комментарий">
                        <button type="submit"><i class="fa-solid fa-reply"></i></button>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <aside id="left" class="left">
        <div class="setacc">
            <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
            <div class="info">
                <div class="name">{{ .User.Name }}</div>
                <div class="login">{{ .User.Login }}</div>
            </div>
        </div>
        <div class="settings">
            <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
            <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span</a>
            <a href="#"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span</a>
            <a id="exit" href="/"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span> Выйти</span</a>
        </div>
    </aside>
</body>

{{ template "footer" }}

{{ end }}
