{{ define "store" }}

{{ template "header" }}

<link rel="stylesheet" href="/assets/css/blog.css">
<link rel="stylesheet" href="/assets/css/style.css">
<!-- <link rel="stylesheet" href="/assets/css/community.css">
<link rel="stylesheet" href="/assets/css/friends.css">
<link rel="stylesheet" href="/assets/css/modal.css">
<link rel="stylesheet" href="/assets/css/page.css"> -->
<link rel="stylesheet" href="/assets/css/modal.css">
<link rel="stylesheet" href="/assets/css/card.css">
<link rel="stylesheet" href="/assets/css/store.css">

<header>
    <div class="brand">
        <div class="logos">
            <img src="/data/image/brand.png" alt="">
            <span>GOLANG</span>
        </div>
        <div class="find"><form action="find" method="post" autocomplete="off" >
          <input type="text" name="find" placeholder="Найти пользователя">
      </form></div>
    </div>
    <div class="account">
        <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
        <i class="fa-solid fa-chevron-down" onclick="Check()"></i>
    </div>
</header>

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>

<body>
    <aside class="right">
        <a href="/page#"><i class="fa-regular fa-circle-user"></i><span> Моя страница</span></a>
        <a href="/blog"><i class="fa-regular fa-newspaper"></i><span> Новости</span></a>
        <a href="/message"><i class="fa-regular fa-comment"></i><span> Сообщения</span></a>
        <a href="/friends"><i class="fa-solid fa-user-group"></i><span> Друзья</span></a>
        <a href="/communities"><i class="fa-solid fa-users"></i><span> Сообщества</span></a>
        <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
        <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span</a>
        <a href="/help"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span</a>
        <a href="/store"><i class="fa-brands fa-golang"></i><span> Go-Store</span></a>
    </aside>

            <!-- Модальное окно -->    
            <input type="checkbox" id="css-modal-checkbox" />    
            <div class="cmc">
                <!-- <div class="cmt" style="max-width: 1000px;"> -->
                    <form action="store/buy" method="post">
                        <!-- <input type="number">
                        <button class="goBTN" type="submit">GO</button> -->
                        <div id="wrapper" style="max-width: 1000px;">
                            <div class="row">
                              <div class="col-xs-5">
                                <div id="cards">
                                  <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Visa-icon.png">
                                  <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Master-Card-icon.png">
                                </div><!--#cards end-->
                                <div class="form-check">
                            <label class="form-check-label" for='card'>
                              <input id="card" name="card" class="form-check-input" type="checkbox" value="card">
                              Pay $150.00 with credit card
                            </label>
                          </div>
                              </div><!--col-xs-5 end-->
                              <div class="col-xs-5">
                                <div id="cards">
                                  <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Paypal-icon.png">
                                </div><!--#cards end-->
                                <div class="form-check">
                            <label class="form-check-label" for='paypal'>
                              <input id="paypal" name="paypal" class="form-check-input" type="checkbox" value="paypal">
                              Pay $150.00 with PayPal
                            </label>
                          </div>
                              </div><!--col-xs-5 end-->
                            </div><!--row end-->
                            <div class="row">
                              <div class="col-xs-5">
                                <i class="fa fa fa-user"></i>
                                <label for="cardholder">Cardholder's Name</label>
                                <input type="text" id="cardholder" name="cardholder">
                              </div><!--col-xs-5-->
                              <div class="col-xs-5">
                                <i class="fa fa-credit-card-alt"></i>
                                <label for="cardnumber">Card Number</label>
                                <input type="text" id="cardnumber" name="cardnumber">
                              </div><!--col-xs-5-->
                            </div><!--row end-->
                            <div class="row row-three">
                              <div class="col-xs-2">
                                <i class="fa fa-calendar"></i>
                                <label for="date">Valid thru</label>
                                <input type="text" placeholder="MM/YY" id="date" name="date">
                              </div><!--col-xs-3-->
                              <div class="col-xs-2">
                                <i class="fa fa-lock"></i>
                                <label for="date">CVV / CVC *</label>
                                <input type="text" id="CVC" name="CVC">
                              </div><!--col-xs-3-->
                              <!-- <div class="col-xs-5">
                                <span class="small">* CVV or CVC is the card security code, unique three digits number on the back of your card seperate from its number.</span>
                              </div>col-xs-6 end -->
                              <div class="col-xs-2">
                                <i class="fa fa-lock"></i>
                                <label for="date">Money</label>
                                <input type="text" id="money" name="money">
                              </div><!--col-xs-3-->
                            </div><!--row end-->
                            <footer>
                              <!-- <button class="btn">Back</button> -->
                              <button class="btn">Отправить</buton>
                            </footer>
                          </div><!--wrapper end-->
                    </form>
                <!-- </div> -->
                <label for="css-modal-checkbox" class="css-modal-close"></label>
            </div>

            <input type="checkbox" id="css-modal-checkbox2" />    
            <div class="cmc">
                <div class="cmt">
                    <form action="market/add" method="post" enctype="multipart/form-data">
                        <input type="file" name="photo" id="photo" placeholder="Загрузите фотографию">
                        <input name="title" id="title" type="text" placeholder="Введите название товара">
                        <textarea name="content" id="content" cols="70" rows="10" placeholder="Укажите описание товара"></textarea>
                        <input name="price" id="price" type="number" placeholder="Введите цену товара">
                        <input name="newprice" id="newprice" type="number" placeholder="Введите цену co скидкой(Или укажите обычную цену)">
                        <select name="selectsex" id="selectsex" >
                          <!-- <option selected></option>  -->
                          {{range $_, $s := .Sex }}
                          <option >{{ $s }}</option>
                          {{ end }}                                                    
                      </select>
                      <select name="selectcat" id="selectcat" >
                        <!-- <option selected></option>  -->
                        {{range $_, $c := .Category }}
                        <option >{{ $c }}</option>
                        {{ end }}                                                    
                    </select>
                        <button class="goBTN" type="submit">GO</button>
                    </form>
                </div>
                <label for="css-modal-checkbox2" class="css-modal-close"></label>
            </div>

            <input type="checkbox" id="css-modal-checkbox3" />    
            <div class="cmc">
                <div class="cmt">
                    <form action="market/del" method="post">
                        <select name="selectprod" id="selectprod" >
                          <!-- <option selected></option>  -->
                          {{range $_, $p := .Store }}
                          <option >Id:{{ $p.Id }}; Название:{{ $p.Name }}; Цена:{{ $p.NewPrice }} G</option>
                          {{ end }}                                                    
                      </select>
                        <button class="goBTN" type="submit">GO</button>
                    </form>
                </div>
                <label for="css-modal-checkbox3" class="css-modal-close"></label>
            </div>
            {{ if .Access }}
            <div class="menu">
              <h4 style="text-align: center;">Меню магазина сообщества</h4>
              <form action="market/sale_list" method="get">
                <input name="community" id="community" type="text" value="{{.Community}}" style="display: none;">
                <input style="width: 100%;" class="add-menu" type="submit" value="Список продаж">
              </form>
              <form action="market/sale_list" method="post">
                <input name="community" id="community" type="text" value="{{.Community}}" style="display: none;">
                <input style="width: 100%;" class="add-menu" type="submit" value="Скачать список продаж">
              </form>
              <form action="market/statistics" method="get">
                <input name="community" id="community" type="text" value="{{.Community}}" style="display: none;">
                <input style="width: 100%; opacity: .5;" disabled class="add-menu" type="submit" value="Статистика продаж">
              </form>
          </div>
          {{ end }}
    <main style="width: 60%;">
      {{ if .Access }}
       
    <div class="wallet w2">

      <div class="add" style="border-right: 1px solid #69b4f3;">
          <label for="css-modal-checkbox2" class="add"><h4>Добавить товар</h4></label>
      </div>
      <div class="add" style="border-left: 1px solid #69b4f3;">
        <label for="css-modal-checkbox3" class="add"><h4>Удалить товар</h4></label>
    </div>
    </div>    
      {{ end }}
      <div class="sort-button-group">
        
        <form action="{{.URL}}" method="get">
          <a href="{{.Root}}" class="sort-button" data-sort-value="name">По умолчанию</a>
          {{range $_, $ct := .Category }}
            <button name="Condition" id="Condition" value="{{$ct}}" class="sort-button" data-sort-value="name">{{$ct}}</button>
          {{ end }}
        </form>
    </div>
      {{ if .OK }}
        <div class="store">
          {{ range $_, $s := .Store }}
            <article>
                <div class="photo">
                  <img src="{{ $s.Photo }}">
                    <!-- <div class="slideshow-container"> -->

                        <!-- <div class="mySlides fade">
                          <img src="{{ $s.Photo }}">
                        </div>
                  
                    </div> -->
                </div>
                <div class="description">{{ $s.Name }} <br><span>{{ $s.NewPrice }} G</span></div>
                <div class="btn">
                    <form action="store/card" method="get">
                        <input type="text" id="store_id" name="store_id" value="{{$s.Id}}" style="display: none;">
                        <button>Подробнее</button>
                    </form>
                </div>
            </article>
          {{ end }}
            <!-- <article>Item 2</article> -->
        </div>
      {{ else }}
      <div class="store">
        <h1 style="text-align: center; color: #69b4f3;">Тут еще нет товаров</h1>
      </div>
      {{ end }}
    </main>

    <div class="wallet">
      <h4>Ваш баланс: <strong>{{ .Wallet }} P</strong></h4>
      <div class="add">
          <label for="css-modal-checkbox" class="add"><i class="fa-solid fa-circle-plus"></i></label>
      </div>    
    </div><br>
    

    <aside id="left" class="left">
        <div class="setacc">
            <div class="avatar"><img src="{{ .User.Photo }}" alt=""></div>
            <div class="info">
                <div class="name">{{ .User.Name }}</div>
                <div class="login">{{ .User.Login }}</div>
            </div>
        </div>
        <div class="settings">
            <a href="/setting"><i class="fa-solid fa-gear"></i> <span> Настройки</span></a>
            <a href="/favourites"><i class="fa-solid fa-bookmark"></i> <span> Избранное</span></a>
            <a href="#"><i class="fa-solid fa-circle-half-stroke"></i> <span> Тема</span</a>
            <a href="/help"><i class="fa-regular fa-circle-question"></i> <span> Помощь</span</a>
            <a id="exit" href="/exit"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span> Выйти</span</a>
        </div>
    </aside>
</body>

<!-- <script>
  $(".sort-button").on('click', function(){
    $(this).toggleClass('is-checked ');
    clickId = $(this).attr('id');
  })
</script> -->

<!-- <script>
    let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script> -->

{{ template "footer" }}

{{ end }}
